<section class="sidebar">
    <div class="app-header">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ asset('bundles/flowercore/images/icons/Organization-100.png') }}"
                     class="img-responsive pull-left" width="40">
                <span>
                    {{ 'organization'|trans({}, 'User')|title }}
                </span>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu">

        <li role="presentation" {% if app_employee is defined %}class="active"{% endif %}>
            <a href="{{ path('employee') }}">{{ 'organization'|trans({}, 'User')|title }}</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li role="presentation" {% if app_settings is defined %}class="active"{% endif %}>
                <a href="{{ path('organization_settings') }}">{{ 'settings'|trans|title }}</a>
            </li>
        {% endif %}
    </ul>
</section>