{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'UserGroup'}, 'UserGroup') }} - {{ parent() }}{% endblock %}
{% block body %}
    <section class="content-header">
        {% include 'FlowerCoreBundle:Default:admin_nav.html.twig' %}
        <h1><a href="{{ path('admin_dash') }}"> {{ 'Settings'|trans}}</a>
            /
            {{ '%entity% list'|trans({'%entity%': 'UserGroup'}, 'UserGroup') }}</h1>
    </section>
    <section class="content">    
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-link  btn-sm" href={{ path('usergroup_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'UserGroup'}, 'UserGroup') }}
                    </a>
                            </div>
            </div>
            <div class="box-body">    
                <table class="table table-hover records_list table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">{{'Name'|trans({}, 'UserGroup')}}</th>
                            <th scope="col">{{'Roles'|trans({}, 'UserGroup')}}</th>
                            <th scope="col">{{ 'Actions'|trans({}, 'UserGroup') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usergroup in paginator %}
                            <tr>
                                <td><a href="{{ path('usergroup_show', {id: usergroup.id}) }}">{{ usergroup.id }}</a></td>
                                <td>{{usergroup.name}}</td>
                                <td>{% for item in usergroup.roles %}
                                        {{item}},
                                {% endfor %}</td>
                                <td>
                            <div class="btn-group">
                                <a class="btn btn-link  btn-sm" href="{{ path('usergroup_show', {id: usergroup.id}) }}">
                                    {{ 'show'|trans({}, 'UserGroup') }}
                                </a>
                                <a class="btn btn-link  btn-sm" href="{{ path('usergroup_edit', {id: usergroup.id}) }}">
                                    {{ 'edit'|trans({}, 'UserGroup') }}
                                </a>
                            </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                {{ knp_pagination_render(paginator) }}
            </div>
        <div class="box-footer">

        </div>
        
    </section>        

{% endblock %}
