{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}UserGroup - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content-header">
        {% include 'FlowerCoreBundle:Default:admin_nav.html.twig' %}
        <h1><a href="{{ path('admin_dash') }}"> {{ 'Settings'|trans}}</a>
            /
            <a href={{ path('usergroup') }}>
                {{ 'UserGroup' | trans({}, 'UserGroup')}}
            </a>
            /
            {{ '%entity%'|trans({'%entity%': 'UserGroup'}, 'UserGroup') }}
        </h1>
    </section>
    <section class="content">    
        <div class="box">
            <div class="box-header">
                <div class="box-tools">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}

                    <div class="btn-group record_actions">

                        <a class="btn btn-link  btn-sm" href="{{ path('usergroup_edit', {id: usergroup.id}) }}">
                            {{ 'Edit'|trans({}, 'UserGroup') }}
                        </a>
                        <button class="btn btn-link  btn-sm" type="submit">{{ 'Delete'|trans({}, 'UserGroup') }}</button>

                    </div>

                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}

                    <div id="delete_confirm" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3>{{ 'Confirm delete'|trans({}, 'UserGroup') }}</h3>
                                </div>
                                <div class="modal-body">
                                    <p>{{ 'You are about to delete an item'|trans({}, 'UserGroup') }}, {{ 'this procedure is irreversible'|trans({}, 'UserGroup') }}.</p>
                                    <p>{{ 'Do you want to proceed?'|trans({}, 'UserGroup') }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'UserGroup') }}</button>
                                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'UserGroup') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover record_properties">
                    <tbody>
                        <tr>
                            <th scope="row">{{'Id'|trans({}, 'UserGroup')}}</th>
                            <td>{{ usergroup.id }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>
    
    </section>

{% endblock %}
