<div class="feed-entry">
    <div class="feed-user-img">
        {{ render(controller('FlowerUserBundle:Profile:avatar',{'user':activity.user, 'size':'xs'})) }}
    </div>
    <div class="feed-content">
        <div class="feed-user-info">
            <a class="username" href="{{ path('user_profile_public', {'username':activity.user.username}) }}">
                {{ activity.user|title }}
            </a>
            <span class="date">{{ activity.changedOn|date('Y/m/d H:i') }}</span>
        </div>
        <div>
            {% if activity.type == 'project' %}
                <i class="fa fa-cog"></i>
            {% elseif activity.type == 'account' %}
                <i class="fa fa-user"></i>
            {% elseif activity.type == 'task' %}
                <i class="fa fa-clipboard"></i>
            {% endif %}
            {% if activity.message %}
                {{ activity.message }}
            {% else %}
                Set {{ activity.attribute }} to {{ activity.value }}
            {% endif %}
        </div>
    </div>
</div>