{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}User - {{ parent() }}{% endblock %}

{% block body %}

    <section class="content">
        {{ include("FlowerUserBundle::appnav.html.twig", { 'app_employee': true }) }}

        <div class="row">
            <div class="col-sm-4">
                <div class="box box-solid">
                    <div class="box-header">
                        <div class="box-tools">
                            {% if user.id == app.user.id %}
                                <a href="{{ path('user_profile') }}" class="btn btn-link btn-xs">{{ 'edit profile'|trans|title }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-body box-profile">
                        <div class="text-center">
                            {{ render(controller('FlowerUserBundle:Profile:avatar',{'user':user, 'size':'medium'})) }}
                        </div>
                        <h3 class="profile-username text-center">{{ user.getHappyName()|title }}</h3>
                        <h5 class="text-muted text-center">{{ user.orgPosition|title }}</h5>
                        <hr>
                        <strong>Email</strong>
                        <p class="text-muted">
                            {{ user.email }}
                        </p>
                        <hr>
                        <strong>Phones</strong>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'Activity' }}</h3>
                    </div>
                    <div class="box-body">
                        <ul class="timeline">
                            {% for activity in feed %}
                                <li>
                                    {% if activity.type == 'project' %}
                                        <i class="fa fa-cog bg-blue"></i>
                                    {% elseif activity.type == 'account' %}
                                        <i class="fa fa-user bg-blue"></i>
                                    {% elseif activity.type == 'task' %}
                                        <i class="fa fa-clipboard bg-blue"></i>
                                    {% endif %}
                                    <div class="timeline-item">
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i> {{ activity.changedOn|date('Y/m/d H:i') }}
                                        </span>
                                        <h3 class="timeline-header">
                                            <a href="#">{{ activity.user|capitalize }}</a> Change {{ activity.attribute }}
                                        </h3>
                                        <div class="timeline-body">
                                            {% if activity.message %}
                                                {{ activity.message }}
                                            {% else %}
                                                Set {{ activity.attribute }} to {{ activity.value }}
                                            {% endif %}

                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock %}
