{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ 'SecurityGroup list'|trans({}, 'SecurityGroup') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('admin_orgposition_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'SecurityGroup')}} <i class="fa fa-sort-down"></i></a>
                {% elseif sort.type == 'ASC' %}
                <a href="{{ path('admin_orgposition_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'SecurityGroup')}} <i class="fa fa-sort-up"></i></a>
                {% endif %}
            {% else %}
            <a href="{{ path('admin_orgposition_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'SecurityGroup')}} <i class="fa fa-sort"></i></a>
            {% endif %}
        {% endspaceless %}
    {% endmacro %}

{% from _self import thead %}

{% block app_menu %}
    {{ include("FlowerCoreBundle:Default:admin_nav.html.twig") }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1><a href="{{ path('admin_dash') }}"> {{ 'Settings'|trans}}</a>
            /
            {{ 'SecurityGroup list'|trans({}, 'SecurityGroup') }}
        </h1>

    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-link  btn-sm" href={{ path('securityGroup_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'SecurityGroup'}, 'SecurityGroup') }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover records_list table-condensed">
                    <thead>
                    <tr>
                        <th scope="col">{{ thead('securityGroup', 'id', 'Id') }}</th>
                        <th scope="col">{{ thead('securityGroup', 'name', 'Name') }}</th>
                        <th scope="col">{{ thead('securityGroup', 'assignee', 'Assignee') }}</th>
                        <th scope="col">{{ 'Actions'|trans({}, 'SecurityGroup') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for securityGroup in paginator %}
                        <tr>
                            <td><a href="{{ path('securityGroup_show', {id: securityGroup.id}) }}">{{ securityGroup.id }}</a></td>
                            <td>{{ securityGroup.name }}</td>
                            <td>{{ securityGroup.assignee }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-link  btn-sm" href="{{ path('securityGroup_show', {id: securityGroup.id}) }}">
                                        {{ 'show'|trans({}, 'SecurityGroup') }}
                                    </a>
                                    <a class="btn btn-link  btn-sm" href="{{ path('securityGroup_edit', {id: securityGroup.id}) }}">
                                        {{ 'edit'|trans({}, 'SecurityGroup') }}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(paginator) }}
            </div>
            <div class="box-footer">

            </div>
        </div>

    </section>        

{% endblock %}
