{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'User'}, 'User') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('user_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'User') }} <i
                            class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('user_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'User') }} <i
                            class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('user_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'User') }} <i
                        class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}

{% block app_menu %}
    {{ include("FlowerCoreBundle:Default:admin_nav.html.twig") }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1><a href="{{ path('admin_dash') }}"> {{ 'Settings'|trans }}</a>
            /
            {{ '%entity% list'|trans({'%entity%': 'User'}, 'User') }}
        </h1>

    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-link  btn-sm" href={{ path('user_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'User'}, 'User') }}
                    </a>
                    <a class="btn btn-link  btn-sm" href={{ path('user_invite') }}>
                        <i class="fa fa-plus"></i> {{ 'Invite user'|trans({'%entity%': 'User'}, 'User') }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="">
                    <form class="form-inline">
                        <div class="form-group">
                            <input name="q" class="form-control input-xlarge" type="text" value="{{ filter.q }}" id="product-query"
                                   placeholder="Buscar">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-search"></i> {{ 'search'|trans|title }}
                        </button>

                        <a class="btn btn-default btn-sm" href="{{ path('user') }}?reset">
                            <i class="fa fa-times"></i> {{ 'clean' | trans | capitalize }}
                        </a>

                        <br>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" {% if filter.is_enabled %}checked{% endif %}
                                           name="is_enabled"> {{ 'Enabled'|trans({}, 'Product') }}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table table-hover records_list table-condensed">
                    <thead>
                    <tr>
                        <th scope="col">{{ thead('user', 'id', 'Id') }}</th>
                        <th scope="col">{{ thead('user', 'firstname', 'Firstname') }}</th>
                        <th scope="col">{{ thead('user', 'lastname', 'Lastname') }}</th>
                        <th scope="col">{{ thead('user', 'email', 'Email') }}</th>
                        <th scope="col">{{ thead('user', 'username', 'Username') }}</th>
                        <th>{{ 'orgPosition'|trans({},'User') }}</th>
                        <th>{{ 'securityGroups'|trans({},'User') }}</th>
                        <th scope="col">{{ thead('user', 'lastLogin', 'Lastlogin') }}</th>
                        <th scope="col">{{ thead('user', 'enabled', 'Enabled') }}</th>
                        <th scope="col">{{ 'Actions'|trans({}, 'User') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in paginator %}
                        <tr>
                            <td><a href="{{ path('user_show', {id: user.id}) }}">{{ user.id }}</a></td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.orgPosition }}</td>
                            <td>
                                {% for item in user.securityGroups %}
                                    {{ item }},
                                {% endfor %}
                            </td>
                            <td>{% if user.lastLogin %}{{ user.lastLogin|date('fullDateTime'|trans) }}{% endif %}</td>
                            <td>{% if user.enabled %}<i class="fa fa-check-square-o"></i>{% else %}<i
                                        class="fa fa-square-o"></i>{% endif %}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-link  btn-sm" href="{{ path('user_show', {id: user.id}) }}">
                                        {{ 'show'|trans({}, 'User') }}
                                    </a>
                                    <a class="btn btn-link  btn-sm" href="{{ path('user_edit', {id: user.id}) }}">
                                        {{ 'edit'|trans({}, 'User') }}
                                    </a>
                                    <a href="{{ path('dashboard', {'_switch_user': user.username}) }}"
                                       class="btn btn-link  btn-sm">
                                        {{ 'enter_impersonation'|trans }}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(paginator) }}
            </div>
            <div class="box-footer">

            </div>
        </div>

    </section>

{% endblock %}
